body {
    background-color: #edf6f9;
    margin: 0;
}
.link {
    text-decoration: none;
    color: #edf6f9;
    font-weight: 800;
    font-size: 20px;
}
.link:hover {
    text-decoration: underline #ccc;
    color: #ccc;
}
.new-start-wraper {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
.start-button {
    border: 1px solid #14213d;
    background-color: #14213d;
    border-radius: 25px;
    padding: 20px 0px;
    font-weight: 800;
    cursor: pointer;
    font-size: 20px;
    color: #e5e5e5;
    width: 300px;
}
.disable {
    border: 1px solid #fec89a;
    background-color: inherit;
    border-radius: 25px;
    padding: 20px 0px;
    color: #fec89a;
    font-weight: 800;
    font-size: 20px;
    width: 300px;
}
.one-field {
    justify-content: space-between;
    border: 2px solid #000;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    flex:1 30%;
}
.number {
    background-color: #ffe5d9;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 45px;
    width: 45px;
}
.number,
.one-point {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 45px;
}
.one-point {
    background-color: #ffe5d9;
    border: 1px solid #000;
    flex-wrap: wrap;
    flex: 1 30%;
}
.main-warper {
    justify-content: space-between;
    border: 1px solid #000;
    max-width: 450px;
    flex-wrap: wrap;
    display: flex;
}
.const-number {
    font-weight: 1000;
    font-size: large;
}
.one-line {
    flex-wrap: nowrap;
    max-width: 450px;
    cursor: pointer;
    flex-flow: row;
    display: flex;
}
.sudoku-wraper {
    flex-wrap: wrap;
    display: flex;
}
.fl1 {
    flex: 1 100px;
}
.fl2 {
    flex: 2 200px;
}
.fl3 {
    flex: 3 450px;
}
.one-line .one-point:nth-child(3n) {
    border-right: 3px solid #000;
}
.one-line .one-point:first-child {
    border-left: 3px solid #000;
}
div .one-line:nth-child(3n) {
    border-bottom: 3px solid #000;
}
div .one-line:first-child {
    border-top: 3px solid #000;
}
.selected {
    background-color: #457b9d;
}
.selected-row {
    background-color: #a8dadc;
}
.error {
    color: red;
}
.fill {
    background-color: #ccc;
}
.glow {
    font-weight: 1500;
    font-size: 20px;
    color: #e9c46a;
}
.number-selected {
    background-color: #457b9d;
}
.number-wraper {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
.number-text {
    margin-left: 1rem;
    flex: 3;
}
.row {
    justify-content: center;
    align-items: center;
    display: flex;
}
.option-wraper {
    justify-content: center;
    margin-top: 2rem;
    display: flex;
}
.mt1 {
    margin-top: 5px;
}
.mt2 {
    margin-top: 10px;
}
.mr1 {
    margin-right: 5px;
}
.mr2 {
    margin-right: 10px;
}
.mb1 {
    margin-bottom: 5px;
}
.mb2 {
    margin-bottom: 10px;
}
.ml1 {
    margin-left: 5px;
}
.ml2 {
    margin-left: 10px;
}
@media(max-width:900px){
    .number-wraper {
        justify-content: center;
        margin-top: 2rem;
        flex-flow: row;
        display: flex;
    }
    .number {
        height: 35px;
        width: 35px;
    }
    .number-text {
        display: none;
    }
}